<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css.css">
</head>

<body style="font-family:"microsoft yahei";">

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}

	<header>
	<h1><a href="{{ linkhome }}">{{ site.name }}</a></h1>
	<h2 style="text-align:center">努力去寻找自己的宁静和安全是每个人生的宿命 在这一点上没人能帮到你什么</h2>
	</header>

	<div class="container">
